<nav class="navbar bordeado navbar-expand-md bg-body-tertiary m-0 p-0">
    <div class="container-fluid gap-2 px-5 bg-black">
        <div class="d-flex gap-3 ultimajoda">
            <button routerLink="/shop" class="colorsito colorsito2"><span class="text">TIENDA</span></button>
        </div>
        <a routerLink="/home" class="navbar-brand col-4 col-sm-5 col-md-3 col-lg-3 col-xl-2 col-xxl-2" href=""><img class="logotipo" src="logo.png" alt=""></a>
        <div class="d-flex gap-3 align-content-end justify-content-end d-none d-md-flex col-sm-2 col-md-2 col-lg-1 col-xl-1 col-xxl-1">
            <a href="#">
                <svg class="tamañoicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path class="tamañoicon" fill="#00fffb" d="M224 0c-17.7 0-32 14.3-32 32l0 19.2C119 66 64 130.6 64 208l0 18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416l384 0c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8l0-18.8c0-77.4-55-142-128-156.8L256 32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3l-64 0-64 0c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z"/>
                </svg>
            </a>
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#perfilModal">
                <svg class="tamañoicon perfil" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path class="tamañoicon" fill="cyan" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/>
                </svg>
            </a>
        </div>
    </div>
</nav>
    <!-- Modal -->
    <div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="perfilModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="perfilModalLabel">Editar Perfil</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Modal content goes here -->
            <form>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter your name">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password">
              </div>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

