.body {
    background-color: rgb(55, 3, 53);
    padding: 20px;
}

.card {
    background-color: black;
    color: white;
    border: 2px solid cyan;
    border-radius: 10px;
    margin: 20px 0; /* Add margin to the top and bottom */
}

.card-title {
    color: fuchsia;
}

.card-text {
    color: white;
}

.card-img-top {
    height: 100%; /* Make the image fill the height of the card */
    object-fit: cover; /* Ensure the image covers the entire area */
    border-radius: 10px 10px 0 0; /* Adjust border-radius if needed */
}

.text-body-secondary {
    color: cyan;
}

.card-body {
    background-color: black;
    border-radius: 0 0 10px 10px;
}
