<div class="body">
    <div class="pt-5 d-flex justify-content-center">
        <input [formControl]="busqueda" (input)="buscar()" placeholder="Buscar una noticia" type="text" class="form-control w-50">
    </div>
    <div class="container">
        <div *ngFor="let new of news; let i = index" class="row justify-content-center">
            <div class="card mb-3 col-12 col-md-10 col-lg-8">
                <div class="row g-0">
                    <div class="col-12 col-md-4">
                        <img src="{{new.imagen}}" class="img-fluid card-img-top" alt="...">
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{new.nombre}}</h5>
                            <p class="card-text">{{new.descripcion}}</p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
